*{
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
}
.well-white{
	background-color: #FFF !important;
	border: 1px solid rgb(226, 226, 226) !important;
    	box-shadow: 0 0 10px rgba(102,102,102,0.1) !important;
    	min-height: 150px;
}
.well-white h1{
	font-size: 20pt;
}
.well-white h2{
	font-size: 19pt;
	margin-top: 10px;
	padding-bottom:7px;
	border-bottom: 1px solid #d7d7d7 !important;
}
.well-white h3{
	font-size: 13pt;
	margin-top: 10px;
}
h2.title-header{
	font-size: 19pt;
	margin-top: 10px;
	padding-bottom:7px;
	border-bottom: 1px solid #d7d7d7 !important;
}
h3.title-berita{
	font-size: 13pt !important;
	margin-top: 10px;
}

.font-11pt{
	font-size: 11pt !important;
}
	
.mt-30{
	margin-top: 30px !important;
}
.mt-50{
	margin-top: 50px !important;
}

.p-clear{
	padding: 0px !important;
}
.plr-clear{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.mt-0{
	margin-top: 0px !important;
}
.mt-5{
	margin-top: 5px !important;
}
.mt-15{
	margin-top: 15px !important;
}


.mb-0{
	margin-bottom: 0px !important;
}
.mb-15{
	margin-bottom: 15px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mtb-0{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

a.list-menu{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-decoration: none !imporant;
}

.border-clear{
	border-color: transparent; !important;
}

.menu-home .list-group-item{
	border-left-color: transparent; !important;
	border-right-color: transparent; !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: 12pt;
}
.menu-home .list-group-item:hover, .menu-home .list-group-item:focus{
	color: #EF5F5A;
}

.well-prodi{
	height: 160px;
	border-left-width: 0px !important;
	border-right-width: 0px  !important;
	border-bottom-width: 0px  !important;
	border-top: 5px solid #211471;
	background-color: #FFF;
	cursor: pointer;
	padding: 0px 15px;
	color: #211471;
	font-size: 10pt;
}
.well-prodi:hover, .well-prodi:focus{
	background-color: #211471;
	color: #FFF;
}
footer{
	background-color: #211471;
	padding: 15px;
	text-align: center;
}
footer .copyright{
	color: #FFF;
}
.min-700{
	min-height: 700px;
}

.img-100{
	width: 100% !important;
}

.text-primary{
	color: #20409a !important;
}

.title-content{
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
	color: #252688 !important;
	font-weight: 700px !important;
	margin: 0px;
}
.uppercase{
	text-transform: uppercase;;
}
.weight-6{
	font-weight: 600 !important;
}
.weight-7{
	font-weight: 700 !important;
}
.table > thead > tr.default > th{
	color: #FFF !important;
	background-color: #252688 !important;
}
.box-berita img{
	height: 237.766px;
	width: 100%;
	
}
.box-berita{
	height: 420px !important;
	overflow: hidden;
}
.box-berita h6.date {
	font-style: italic;
	margin-top: 0px;
}
.box-berita h4.title {
	font-size: 17px;
	margin-bottom: 5px;
}
.box-berita h4.title a{
	/*word-break: break-word !important;*/
	/*display: block;*/
}
@media (max-width: 1199px) {
	.menu-header{
		display: none !important;
	}
	.container-menu{
		background-color:#fff;
		margin-top:0px;
		padding:10px;
	}
	.img-logo{
		margin-top: 5px;
		height: 60px !important;
	}
	.top-nav{
		display: none !important;
	}
	#mainNav{
		display: none !important;
	}
	.navbar-mobile{
		display: block !important;
		height: 70px !important;
		padding-top: 5px;
	}
	.navbar-nav{
		display: none !important;
	}
	.btn-xl{
		 font-size: 15px;
  		padding: 8px 20px;
	}
}
@media (max-width: 768px) {
	header .intro-text .intro-heading{
		font-size: 19px !important;
	}
}
@media (max-width: 992px) {
	header .intro-text .intro-heading{
		font-size: 21px !important;
	}
}
.img-stmik{
	float: left; 
	margin: 0 30px 10px 0; 
	width: 200px;
}
@media (max-width: 500px) {
	.img-stmik{
		float: none; 
		margin: 0 30px 10px 0; 
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	.well-white h1{
		font-size: 15pt !important;
	}
}

@media (min-width: 1200px) {
	.menu-header{
		display: block !important;
	}
	.container-menu{
		background-color:#fff;
		margin-top:20px;
		padding:10px;
	}
	.img-logo{
		height: 60px !important;
	}
	.top-nav{
		display: block !important;
	}
	#mainNav{
		display: block !important;
	}
	.navbar-mobile{
		display: none !important;
	}
	.navbar-nav{
		display: block !important;
	}
	.profil-stmik{
		font-size:13pt;
		font-weight:600;
		padding-left:100px;
		padding-right:100px;
		margin-top: 30px; 
		color: #FFF;
	}
}
.menu-link{
	position: absolute;
	top: 23px;
	right: 20px;
}
.menu-link .fa-2x{
	font-size: 2.5em !important;
}

