.img-tengah {
    margin: 0 auto;
}
.img-clear-after {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-content {
        background-color: transparent;
        padding: 0;
    }

    .navbar-content .navbar-nav {
        margin: 0;
    }
}
