@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montagu+Slab:wght@400;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* variable initialization */
:root {
  --primary-color: #013565;
  --secondary-color: #fed102;
}

.btn-warning {
  background-color: #FFC800 !important;
}

.bg-warning {
  background-color: #FFC800 !important;
}

* {
  font-family: "poppins", sans-serif;
}

.top-nav {
  background: #252688;
  padding-top: 10px;
  padding-bottom: 50px;
}

.nav-link {
    text-transform: uppercase;
}

.content-lembaga {
  font-family: "Roboto";
  font-weight: 400;
}

.content-lembaga > ol {
  margin-left: -20px;
  margin-top: 10px;
}
.top-nav p {
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
  margin-left: 100px;
  font-size: 12px;
  opacity: 1;
}
.label-jurusan {
  margin-top: 10px;
  border-top: 8px solid #943434;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  text-align: left;
  color: #002147;
  font-size: 11px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 50;
  border-radius: 3px;
  cursor: pointer;
}

.label-jurusan br {
  line-height: 30px;
}

.label-jurusan:hover {
  border-top: 8px solid #fff;
  color: #fff;
  background-color: #943434;
  cursor: pointer;
}
.mobile-dropdown {
}

.mobile-search {
}
#menu-bahasa {
  display: none;
}

#menu-search {
  display: none;
}
.img-logo {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .img-logo {
    margin-left: 0px;
  }
  .mobile-dropdown {
    display: none;
  }

  .mobile-search {
    display: none;
  }

  #menu-bahasa {
    display: block;
  }

  #menu-search {
    display: block;
  }
}

/* NEW CSS FOR FEB PAGE */

/* make the bootstrap dropdown show on hovered instead on clicked */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(235, 235, 235);
  color: black;
}

.bg-custom-primary {
  background-color: var(--primary-color);
}

.text-custom-primary {
  color: var(--primary-color);
}

.custom-text-semibold {
    font-weight: 600;
}

/* Mobile menu */

.mobile-menu {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.burger-active {
  transform: translateX(0);
}

.burger-close {
  height: 1px;
  width: 25px;
  background-color: var(--primary-color);
}

.burger-close:first-child {
  transform: rotate(45deg);
}

.burger-close:nth-child(2) {
  transform: rotate(-45deg);
}

.burger-item {
  padding: 10px 5px;
  border-bottom: 1px solid gray;
}

.burger-item a {
  color: var(--primary-color);
  font-weight: bold;
}

.burger-item a {
  text-decoration: none;
}

.sub-wrapper {
  display: flex;
  flex-direction: column;
}

a.sub-burger {
  margin-left: 10px;
  color: grey;
  font-weight: 400;
  padding: 5px 0;
}

/* Hero section */

.hero {
  background-image: url("../../assets/banner/banner1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

@media(max-width: 480px) {
  .hero {
    background-image: url('../../assets/mobile/banner1.jpg');
    height: 600px;
  }
}

.hero-ftd {
  background-image: url("../../assets/banner/banner1_ftd.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

@media(max-width: 480px) {
  .hero-ftd {
    background-image: url('../../assets/mobile/banner1.jpg');
    height: 600px;
  }
}

.hero-content {
  width: 45%;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .hero-content {
    width: 90%;
    font-size: 0.8rem;
  }
}

.hero-title {
    font-family: Georgia;
    text-transform: uppercase;
    font-weight: bold;
}

@media(max-width: 480px) {
  .hero-title {
    font-size: 1.5rem;
  }
}

.title-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.jabatan-text {
    font-weight: 200;
}

/* Gallery Grid */

.gallery-container img:first-child {
  grid-area: first-area;
  height: 460px;
}

.gallery-container img:nth-child(2) {
  grid-area: second-area;
}

.gallery-container img:nth-child(3) {
  grid-area: third-area;
}

.gallery-container img:nth-child(4) {
  grid-area: fourth-area;
  height: 460px;
}

.gallery-container img:nth-child(5) {
  grid-area: fifth-area;
}

.gallery-container img:nth-child(6) {
  grid-area: sixth-area;
}

@media (min-width: 768px) {
  .gallery-container {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "first-area second-area fourth-area"
      "first-area third-area fourth-area";
  }
}

/* Position of step by step item */
.step-up {
  margin-top: -14rem;
}

@media (min-width: 768px) {
  .right-border {
    border-right: 2px white solid;
    border-right-style: dashed;
  }
}

.card-prodi {
  min-height: 670px;
  height: 670px;
}

.slider-button-prev,
.slider-button-next {
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45%;
  z-index: 10;
}

.slider-button-prev {
  background-image: url("./../icons/kiri.png");
  left: 0;
  right: auto;
}

.slider-button-next {
  background-image: url("./../icons/kanan.png");
  right: 0;
  left: auto;
}

.slider-testimoni {
  top: 35% !important;
}

@media (min-width: 768px) {
  .slider-testimoni {
    top: 30% !important;
  }
}

.section-line {
    background-color: var(--primary-color);
    height: 5px;
    width: 20px;
    border: none;
    margin: 20px 0;
}

.article-line {
    background-color: #fff;
    border: 1px solid #000;
}

.article-title {
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.6;
}