<head>
		<title>&#1203;&#824;&#1202;&#824;&#1203; Hey :" &#1203;&#824;&#1202;&#824;&#1203;</title>
	<link rel="SHORTCUT ICON" href="http://www.zone-h.org/images/cflags/png/id.png">

	</head>
<bgcolor="black">
<br>
<center><img width="550"src="https://media.giphy.com/media/QpTC0mhssDExq/giphy.gif"></center>
                          
<br>
<center><font div id="q" size="3" color="gray">Sad Min :')<br><font size="5" color="gray">
=> 1ntr0ver7.id <= </font>
</pre>
<p><i><font size="2" color="gray"><center>5iNON!MOU23 - Zie - PenggilaSabun - Mr-Andraz404  - Fx_Fri3nds - ./Mister-Y404 - z0nk666_id - Mr. Crabs
<br>#IndStart45 - Z31TZUK3 - ./Dem0nic - Specta404 - Rayzer157 - Mr.Oz - PenggilaCiki - ALCHEMIST-09</font></center>
</html>
<embed src="http://www.youtube.com/v/GNtrJoXHD8Y?autoplay=1" type="application/x-shockwave-flash" wmode="transparent" height="1" width="1">