.primary-color {
    color: #033e84;
}
.secondary-banner {
    width: 100%;
    height: 500px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.subheader-line {
    width: 20px;
    border-top: 5px solid #033e84;
}
.subheader-text {
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
}

.card-highlight {
    box-shadow: 0 0 20px #00000040;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    min-height: 175px;
}

.card-highlight .icon-card-highlight {
    margin-bottom: 15px;
}

.card-highlight .title-card-highlight {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-highlight .desc-card-highlight {
    position: absolute;
    bottom: 45px;
    padding-right: 30px;
    font-size: 16px;
}

.pascasarjana-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pascasarjana-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.pascasarjana-desc {
    font-size: 14px;
}

.label-uc {
    color: #033e84;
    text-transform: uppercase;
}

.form-control::placeholder {
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .secondary-banner {
        width: 100%;
        height: 200px;
    }

    .card-highlight {
        min-height: 200px;
    }
}
