.well-image{
    height: 250px;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}
.well-image img{
    width: 100%;
    height: 100%;
}
.well-image a{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}

.well-image .fa-picture-o{
    opacity: 0.18;
    font-size:  6em;
    margin-top: 60px;
}
.mr-5{
    margin-right: 5px !important;
}
.min-550{
        min-height: 550px;
}
.min-500{
    min-height: 500px !important;
}	