.line{
	border-bottom: 2px dotted #E2E2E2;
	margin-bottom: 10px;
}
.box-pengumuman h4{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 17px;
	font-weight: 400;
}
.box-pengumuman h6{
	margin-top: 5px;
	margin-bottom: 5px;
}
.box-pengumuman .content{
	margin-bottom: 10px;
}